<form action="/add" method="POST">
    {{!-- Post passa os dados pelo BodyParams --}}
    id: <input type="text" name="id" value="{{id}}"><br>

    <input type="text" name="titulo" value=""><br>
    <input type="text" name="conteudo" value=""><br>

    <button type="submit">Save</button>
</form>